h1 {
    font-size: 30px ;
    color: rgb(69, 5, 16);
    margin-bottom: 100px;
    margin-top: 50px;
}
p {
    font-size: 20px;
    font-weight: 900;
    color: rgb(101, 5, 24);
}
.output {
    color: rgb(234, 14, 14);
}
button {
color: rgb(30, 0, 255);
}